@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", Arial, Helvetica, sans-serif;

  --primary-one: #121212;
  --primary-two: #fff9f9;
  --primary-three: #dadfe1;

  --menu-one: #3f92b6;
  --accent-one: #3d7a95;
  --menu-two: #599ae7;
  --accent-two: #4d7eb7;
  --menu-three: #954be2;
  --accent-three: #451acf;
  --menu-four: #06a192;
  --accent-four: #078377;
  --menu-five: #fd8c73;
  --accent-five: #ea775e;

  --color-one: #1cb854;
  --color-two: #37c6ab;
  --color-three: #059cc0;
  --color-four: #ff8c59;
  --color-five: #ffa02e;

  --extra-color: #471871;
  --extra-two: rgb(15, 112, 136);
  --extra-three: #f48b0c;
  --extra-four: #e0684e;

  --like: #ff8f8f;
  --like-hover: #ff6464;
  --like-active: #da3939;

  --menu-layover: #292929; /* 95% opacity */

  --gradient-one: linear-gradient(#3f93b7, #1c5872);
  --gradient-two: linear-gradient(#471871, #040404);
  --gradient-three: linear-gradient(#451971, #162152);

  --method-one: #9264f4;
  --method-two: #9264f4;
  --method-three: #a170cf;
  --method-gradient: linear-gradient(#471871, #142151);

  --stats-one: #27b26f;
  --stats-two: #43756c;
  --stats-three: #6fcfad;
  --stats-method: linear-gradient(#219b9b, #1b7070);

  --test-one: #599ae7;
  --test-two: #424b75;
  --test-three: #707fcf;
  --test-method: linear-gradient(#21599b, #1b3d70);

  --prof-one: #e76a59;
  --prof-two: #754643;
  --prof-three: #e98d7b;
  --prof-method: linear-gradient(#f0775d, #b45751);

  --space-reg: 1.2rem;
  --space-half: 0.6rem;
  --space-small: 0.3rem;
  --space-big: 1.8rem;
  --space-third: 0.9rem;
}

/*  */

* {
  box-sizing: border-box;
  color: var(--primary-one);
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

body {
  line-height: 1.5;
  background: var(--gradient-three);
  min-height: 100vh;
}

main {
  padding: var(--space-half);
  color: var(--primary-two);
  overflow: hidden;

  h1,
  h2 {
    color: var(--primary-two);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h2 a {
  color: var(--primary-two);
  text-decoration: none;
}

h2 a:hover {
  color: var(--menu-three);
  text-decoration: underline;
}

/** nav */

header {
  background-color: var(--primary-two);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-half);
  border-bottom: 1px solid var(--menu-three);
  width: 100vw;

  ul {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }

  li {
    margin-right: var(--space-half);
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.active {
  color: var(--menu-three);
}

/** containers */

.playlist-wrapper,
.story-wrapper {
  --space-big: 2rem;
  margin-bottom: var(--space-big);
  padding: var(--space-small);
}

.playlist-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: scroll;
  scrollbar-color: var(--menu-three) var(--extra-color);
  padding: var(--space-third);
}

.story-container {
  display: grid;
  place-items: center;
}

/** playlist article */

a {
  text-decoration: none;
}

.playlist {
  display: grid;
  place-items: center;
  background-color: var(--primary-two);
  min-width: 14rem;
  margin-right: var(--space-big);
  padding: var(--space-half) var(--space-small);
  border-radius: 6px;

  h3 {
    text-align: center;
    align-self: flex-start;
  }

  img {
    align-self: flex-start;
    width: 180px;
    height: 180px;
    margin-top: var(--space-small);
    border-radius: 6px;
  }

  p {
    overflow: scroll;
  }
}

.playlist form {
  button {
    display: grid;
    place-items: center;
    background-color: var(--like);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.15s ease-in-out;
  }

  button:hover {
    background-color: var(--like-hover);
    scale: 1.05;
  }

  button:active {
    background-color: var(--like-active);
    scale: 0.95;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.new-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #954be280;
  min-width: 14rem;
  padding: var(--space-half) var(--space-small);
  border-radius: 6px;

  p {
    color: var(--primary-two);
    margin-bottom: var(--space-half);
  }
}

.new-playlist button {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  background-color: var(--menu-three);
  border: none;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;

  img {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
}

.new-playlist:hover button {
  background-color: var(--extra-color);
}

.new-playlist:active button {
  scale: 0.95;
  background-color: var(--extra-color);
  border: 1px solid var(--menu-three);
}

.playlist-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

.carousel-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    color: var(--primary-two);
    margin: 0 var(--space-half);
  }

  button {
    transition: all 0.25s ease-in-out;
    margin: var(--space-small);
  }
}

.carousel-btn button:hover {
  scale: 1.05;
  background-color: var(--method-two);
}

.carousel-btn button:active {
  scale: 0.95;
  background-color: var(--method-three);
}

/** story article */

.story {
  display: grid;
  grid-template-areas: 
  "a b b"
  "a c c"
  "d e f";
  column-gap: var(--space-small);
  background-color: var(--primary-two);
  height: fit-content;

  padding: var(--space-small);
  margin-bottom: var(--space-big);
  border-radius: 6px;

  h3 {
    grid-area: b;
  }

  p {
    grid-area: c;
    align-self: flex-start;
    text-overflow: ellipsis;
  }

  img {
    grid-area: a;
    align-self: center;
    height: 60px;
    width: 60px;
    border-radius: 2px;
  }
}

/** fav playlists */

.favs-list {
  width: 100%;
  max-width: 40rem;
  margin-bottom: var(--space-big);
  h2 {
    color: var(--primary-two);
  }
}

.favs-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  --bg: #954be290;
  background-color: var(--bg);
  padding: var(--space-reg);
  border-radius: 20px;

  p {
    color: var(--primary-two);
    font-size: 1.5rem;
  }
}

.favs-bg {
  height: 15rem;
  width: 12.5rem;
  background-image: url(/assets/penguin1.svg);
  background-repeat: no-repeat;
  background-position: left;
  animation: background 3.3s steps(4) infinite;
}

@keyframes background {
  0% {
    background-position: left;
  }
  20% {
    background-position: right;
  }
  40% {
    background-position: left;
  }
  100% {
    background-position: left;
  }
}

/** buttons */

button {
  border: none;
}

.stage-btns {
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
}

.stage-btns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: var(--primary-two);
  width: 12rem;
  padding: var(--space-small);
  border-radius: 6px;
  background-color: var(--color-one);

  .svg {
    width: 25px;
    height: 25px;
    margin: 0 var(--space-half);
  }
}

.stage-btns button:first-of-type {
  align-self: center;
}

.stage-btns button:nth-of-type(2) {
  background-color: var(--accent-two);
}

/*  */

.svg {
  color: var(--primary-three);
  width: 50px;
  height: 50px;
}

/* media query */

@media (min-width: 530px) {
  .container {
    display: grid;
    place-items: center;
  }

  .top-content {
    width: 100%;
    max-width: 40rem;
  }

  .story-wrapper,
  .playlist-wrapper {
    display: grid;
    width: 100%;
    max-width: 40rem;
  }

  .playlist-container {
    max-width: 40rem;
  }
}

@media (min-width: 630px) {
  header {
    --space-big: 3rem;
    nav {
      padding-left: var(--space-big);
    }
  }
}
